extends /_templates/main.pug


block content
    .row
        .col-12.mb-0.jumbotron.jumbotron-fluid.d-flex.align-items-center.justify-content-center.text-center
            h1= self.subtitle

    #info.row.gray-row
        .container
            .row.mt-3.py-5
                .col-12.col-md-7
                    +markdown(self.tos)
