body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #FFFFFF;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0px;
  padding: 60px 0px 0px 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-shadow: 0px 1px 6px #000000;
}

h2, .bullet {
  margin: 0px;
  padding: 0px 0px 20px 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

h2 span.fa {
  margin-top: 40px;
}

h3 {
  margin: 0px;
  padding: 20px 0px 0px 0px;
  font-size: 20px;
  line-height: 20px;
}

a:hover {
  color: inherit;
}

span.strong {
  font-weight: bold;
}

.container-fluid {
  background: #ffffff;
}

.container-fluid:nth-child(odd) {
  background: #ffffff;
}

.container-fluid:nth-child(even) {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background: #f8f8f8;
}

.container-fluid:last-child {
  border-bottom: none;
  color: #ffffff;
  background: #333333;
}

.container-fluid:last-child a {
  color: #ffffff;
  background: #333333;
}

.container {
  margin: 40px auto;
}

#header {
  height: 500px;
  padding: 0px;
  border-top: none;
  color: #ffffff;
  background: transparent;
  overflow: hidden;
}

#header-img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 500px;
  background: #ffffff no-repeat 20% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: none important!;
  z-index: -100;
}


#header p {
  padding: 0px 0px 200px 0px;
  text-shadow: 0px 1px 3px #000000;
  font-weight: 300;
  font-size: 32px;
}

#header .btn-lg {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.nav-link {
   margin: 0px 0px 0px 20px;
   color: #ffffff;
   text-shadow: 0px 1px 3px #000000;
   font-weight: 500;
   font-size: 16px;
}

.price {
  padding: 0px 5px;
  text-align: center;
}

.price h3 {
  padding: 20px 0px 20px 0px;
  background: #ffffff;
  font-size: 24px;
}

.price p {
  margin: 0px;
  padding: 10px 0px;
  border-top: 1px solid #dddddd;
}

#join-submit {
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
